setuptools
pyinstaller-hooks-contrib
pyinstaller
python-vlc
pyqt6==6.9.1
pyqt6-qt6==6.9.1
PyQt6-Frameless-Window
pyradios
soundcard
soundfile
shazamio
googletrans==3.1.0a0
lyricsgenius
musicbrainzngs
C:/Users/franc/MySoft/pyMyLib/
pywin32
psutil
mutagen
discid
langdetect
edge-tts
win32-setctime
tinytag
wikipedia
